@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
html{
    background-color: #f2f2f0;

}


.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 2rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    color:black;

}



.nav-item:hover{
    color:#30526a;
}

.nav-item:first-child{
    margin-right: auto;
}

.nav-button {
    background-color: #54bec7;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    border: none;
    padding: 0.62rem;
    width:7.2rem;
    margin-right: 2rem;
}

.nav-button:hover{
    cursor: pointer;
    background-color: #30526a;
    color:white;
}

.landing-page-header {
    margin-top: 2.5rem;
}

.header {
    display: flex;
    align-items: center;
}

.header button {
    margin-right: 1.5rem;
    margin-top: 1.5rem;
}

/* landing page */

.landing-image{
    width: 49rem;
    margin-right: 2rem;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#words{
    margin-left: 8rem;
    
}

.main-title{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 5.6rem;
}


.landing-info{

    font-family: 'DM Sans', sans-serif;
}

.toggle-button {
    position: absolute;
    top: 2.7rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color:black;
    border-radius: 10px;
}


/* Footer  */

.footer {
    height: 20px;
    background-color: purple;
    margin-bottom: 0;
}

@media screen and ( max-width: 375px) {
    #words {
        margin-left: 2rem;
        margin-top: 10px;
        text-align: center;
    }

    .main-title {
        font-size: 40px;
        margin-top: 8rem;
        
    }

    .landing-image {
        
        width: 350px;
        position: absolute;
        left: 1rem;
        top: 20rem;
        margin-top: 2rem;
    }

    .demo-button {
        margin-top: 10px;
    }

    .toggle-button {
        display: flex;
    }

    .nav-button {
        display: none;
    }

    #sign-in-link {
        display: none;
    }

   
}




