
* {
    margin: 0; 
}

.material-symbols-outlined {
  margin-right: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.dashboard-sidebar-items {
    display: flex;
    align-items: center;
    margin: 40px;
}

.dashboard-sidebar-items li {
    list-style: none;
}

.dashboard-sidebar {
    border: 2px black;
    border-top-left-radius:25px;
    border-bottom-left-radius: 25px;
    border-style: solid  none solid   solid;
    width: 200px;
    height: 500px;
    position: absolute;
    top: 90px;
    left: 150px;

    background-color: #54bec7;
}

.dashboard-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* shared */

.dashboard-main-section {
    border: 2px solid black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height:500px;
    width: 800px;

    position: absolute;
    top: 90px;
    left: 350px;
    background-color: wheat;

  
}


/* Members */

.add-member-button {
    position: absolute;
    right: 50px;
}

.add-member-form {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    right:50px;
    top: 70px;
}

table, th, td {
    border: 1px solid;
  }

  table {
    width: 100%;
  }
  
  

  td {
   width: 10%;
   padding: 8px; 
  }

  .members-search {
    
    left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
  }


 

 



